* {
  box-sizing: border-box;
}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}

.container {
margin: 0;
width: 100%;
height: 100%;
}

.full {
width: 100%;
height: 100vh;
text-align: center; /* Center text */
z-index: 1; 
position: relative;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.background {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1; 
}

.h1 {
position: absolute;
top: 50%; /* Position the top edge of the element at the center of the container */
left: 50%; /* Position the left edge of the element at the center of the container */
transform: translate(-50%, -50%);
font-size: 600px;
z-index: 1;
}

#map { 
width:100%; 
height:100vh;
z-index: 1;
}

.story {
position: absolute;
top: 40px;
left: 2%;
z-index:2;
width:30%;
text-align: left;
}

.half {
padding: 0;
width: 100%;
height: 100vh;
z-index: 1; 
display: flex;
flex-direction: row;
align-items: center;
}

.left{
padding-left: 2%;
width: 30%;
align-items: center;
}

.right {
width: 70%;
display: flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
}

.right img {
max-width: 70%; /* Ensures the image does not exceed the column width */
height: auto; /* Maintains the aspect ratio */
}










